name: playwright-tests

on: 
  push:
    branches:
      - main
      - dev
  workflow_dispatch:

jobs:
  run-tests:
    permissions: 
      contents: write
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/dotnet/sdk:8.0
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET environment
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Install dependencies and build
        run: dotnet build

      - name: Check that the browsers have been installed
        run: pwsh bin/Debug/net8.0/playwright.ps1 install --with-deps

      - name: Run tests
        id: run-tests
        run: dotnet test --logger "trx;LogFileName=test_results.trx" --results-directory bin/Debug/net8.0/allure-results

  # === Generate Allure report outside the container ===
  generate-allure:
    runs-on: ubuntu-latest
    needs: run-tests
    steps:
      - uses: actions/checkout@v4

      # Load previous history from gh-pages
      - name: Load test report history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install Allure CLI
        run: npm install -g allure-commandline

      - name: Generate Allure report
        run: |
          mkdir -p allure-history
          allure generate bin/Debug/net8.0/allure-results --clean -o allure-history

      - name: Verify allure-history output
        run: |
          echo "Checking for generated allure-history folder..."
          ls -R allure-history || echo "❌ allure-history was not generated"

      - name: Publish Allure report
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history

      # Upload artifacts
      - name: Upload TRX logger file 
        uses: actions/upload-artifact@v4
        with:
          name: test-results
          path: '**/test_results.trx'

      - name: Upload test report artifact if tests fail
        if: ${{ failure() && needs.run-tests.outputs.outcome == 'failure' }}
        uses: actions/upload-artifact@v4
        with:
          name: Test-reports-folder
          path: bin/Debug/net8.0/allure-results
